<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="links">
    <link th:href="@{~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet"/>
</th:block>

<body>
<th:block layout:fragment="content">
    <div class="container" style="margin-top:50px">
        <div class="panel panel-default">
            <div class="panel-heading">You are going to cancel your reservation</div>
            <div class="panel-body">
                <form method="POST">
                    <button type="submit" class="btn btn-danger">Cancel your reservation</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
